{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "react/jsx-indent": [
      true,
      2
    ],
    "no-trailing-spaces": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}